<div class="main-page-wrapper">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/event-spinner.svg" /></div>
    <!-- ===================================================
        Loading Transition
    ==================================================== -->
    <section>
    <!-- 	<div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <img src="1.svg" alt="">
                </div>	
            </div>
        </div> -->
    </section>


    <!-- 
    =============================================
        Sign In
    ============================================== 
    -->
    <div class="user-data-page clearfix d-lg-flex">
        <div class="illustration-wrapper d-flex align-items-center justify-content-center flex-column">
            <div class="illustration-holder">
                <img src="../../assets/images/login/ils_15.svg" alt="" class="illustration">
                <img src="../../assets/images/login/ils_15.1.svg" alt="" class="ES-IP_24">
                <img src="../../assets/images/login/ils_15.2.svg" alt="" class="ES-IP_25">
                <img src="../../assets/images/login/ils_15.3.svg" alt="" class="ES-IP_26">
            </div>
            <h3>Selling over 100 tickets? <br>try eventsmatic</h3>
        </div> <!-- /.illustration-wrapper -->

        <div class="form-wrapper">
            <img src="../../assets/images/login/shape_02.svg" alt="" class="shapes shape_2">
            <img src="../../assets/images/login/shape_01.svg" alt="" class="shapes shape_1">
            <img src="../../assets/images/login/shape_03.svg" alt="" class="shapes shape_3">
            <img src="../../assets/images/login/shape_131.svg" alt="" class="shapes shape_4">
            <div class="logo"><a href="https://www.eventsmatic.com/"><img src="../../assets/images/login/logo.svg" alt=""></a></div>
            <form [formGroup]="resetPasswordForm" action="#" class="user-data-form mt-30 with-validation">
                <h2>Reset Your Password</h2>
                <p class="rsv-font header-info pt-15 pb-30"> Already have an account? <a routerLink="/login">Log in</a></p>
                  
                <div class="row">
                    <div class="col-12">
                        <div class="input-group-meta mb-50 mt-30">
                            <label>New Password</label>
                            <input [type]="hide?'password':'text'" formControlName="NewPassword" placeholder="Enter New Password" class="pass_log_id">
                            <span class="placeholder_icon" [ngClass]="{'password-show':hide}" (click)="hide = !hide"><span class="passVicon"><img src="../../assets/images/login/view.svg" alt=""></span></span>
                            <span class="error-wrap" *ngIf="resetPasswordForm.get('NewPassword').dirty || resetPasswordForm.get('NewPassword').touched"><small *ngIf="resetPasswordForm.get('NewPassword').hasError('required')" class="error text-left ml-4">Password is required.</small><small *ngIf="resetPasswordForm.get('NewPassword').hasError('minlength') || resetPasswordForm.get('NewPassword').hasError('maxlength')" class="error">Password should  minimum 8 maximum 12 characters.</small></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group-meta mb-15">
                            <label>Reset Password</label>
                            <input [type]="hide1?'password':'text'" formControlName="ReNewPassword" placeholder="Re-Enter New Password" class="pass_log_id">
                            <span class="placeholder_icon" [ngClass]="{'password-show':hide1}" (click)="hide1 = !hide1"><span class="passVicon"><img src="../../assets/images/login/view.svg" alt=""></span></span>
                            <span class="error-wrap" *ngIf="resetPasswordForm.get('ReNewPassword').dirty || resetPasswordForm.get('ReNewPassword').touched">
                                <small *ngIf="resetPasswordForm.get('ReNewPassword').hasError('required') && resetPasswordForm.hasError('notSame')" class="error text-left ml-4">Confirm password is required.</small>
                                <small *ngIf="!resetPasswordForm.get('ReNewPassword').hasError('required') && resetPasswordForm.hasError('notSame')" class="error text-left ml-4">Passwords do not match.</small>
                            </span>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="button-solid-one rsv-font mt-30 mb-30" (click)="fnSubmitResetPassword()"><span *ngIf="!saveDisabled">Reset Password</span>
                            <div *ngIf="saveDisabled" class="button-spinner">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div></button>
                    </div>
                    <div class="col-12">
                        <p class="text-center rsv-font copyright-text">© Copyright 2021 Eventsmatic. A Product of Weberr Technologies Inc.</p>
                    </div>
                </div>
            </form>
        </div> <!-- /.form-wrapper -->
    </div> <!-- /.user-data-page -->
    
    


    

</div> 