.main {
    width: 100%;
    
    .save-btn {
        background-color: #C0C0C0;
        color: #000000;
        border-radius: 5px;
    }
    .remove-photo {
        background-color: #973c56;
        color: #000000;
        border-radius: 5px;
    }
    .edit-order-confirmation {
        .title {
            font-size: 14px;
        }
        .highlight {
            background-color: #E0EFFF;
            border: 1px dashed #973c56;
            border-radius: 5px;
        }
        .msg-content {
            padding-bottom: 20px;
            border-radius: 5px;
            background-color: #F7F7F7;
        }
        .msg {
            position: relative;
            width: 80%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 0px 0px 5px 5px;
            background-color: #FFFFFF;
        }
    }
    .invoice-preview {
        padding-bottom: 20px;
    }
    .invoive-details {
        position: relative;
        width: 80%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        .fa-question-circle {
            color: #CECECE;
        }
        .title {
            font-size: 14px;
        }
    }
    .invoice-demo {
        .title {
            color: #B5B5B5;
        }
        .empty-box {
            width: 350px;
            height: 150px;
            textarea {
                height: 100%;
                width: 100%;
                text-align: left;
            }
        }
        .blank-bar {
            width: 49%;
            height: 20px;
            border-radius: 10px;
            margin-top: 10px;
            background-color: #CECECE;
        }
    }
    .edit-order-main {
        display: flex;
        align-items: center;
    }
    .main-top-heading {
        display: flex;
        justify-content: space-between;
        .side-name {
            display: flex;
            align-items: center;
            width: 30%;
        }
    }
}