<div id="seating_chart" class="">
    <div class="main bg-white">
        <div class="row mx-auto">
            <div class="col-12 p-0">
                <div class=" page-title">
                    Seating charts
                </div>
            </div>
        </div>


        <div class="row mx-auto">
            <div class="col-12 p-0 mt-2">
                <div class="">
                    <div class="txt mb-2">Activate seating charts on your account </div>
                </div>
            </div>
        </div>


        <div class="row mx-auto">
            <div class="col-10 bg alert-info box">
                <span class="material-icons notification-icon mr-2">
                    notifications
                    </span>
                <span class="txt">This feature has Additional fees. <a>Find details in our help center</a></span>

            </div>
        </div>


        <div class="row mx-auto">
            <div class="form-group Seating-charts-main">
                <div class="col-12 p-0 Seating-charts-text">
                    <p class=""> To create seated events you may want to use seating charts. This features lets you create a seating chart for your venue with all the available seats, and then your customers can select seats from a live interactive seating chart when
                        they purchase tickets.</p>
                    <label for="txt" class="txt">Before we can activate seating charts on your account we will need your billing details</label>
                </div>
                <div class="col-12 p-0 mt-2">
                    <button mat-flat-button class="btn">Update billing details</button>
                </div>
            </div>
        </div>
    </div>

</div>