<div class="add-occurrence-form">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/event-spinner.svg" /></div>
    <div class="modal-header pl-3 py-0 border-0">
        <p class="font-weight-bold">Add single occurrence</p>
        <button class="close-btn" type="button" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>

    </div>

    <div class="modal-body">
        <div class="">
            <form [formGroup]="singleOccurrenceForm" class="with-validation">
                <div class="row mx-0 mt-2">
                    <label class="w-100">Starts<span><i class="fa fa-asterisk"></i></span></label>

                    <div class="form-group col-6 pl-0">
                        <input placeholder="MM/DD/YYYY" (dateChange)="fnChangeEventStartDate()" (click)="occurrence_start_date_picker.open()" [min]="minStartDate" [matDatepicker]="occurrence_start_date_picker" type="text" formControlName="occurance_start_date" class=" col-12 form-control d-inline-block"
                            placeholder="DD/MM/YY" readonly>
                        <mat-datepicker #occurrence_start_date_picker></mat-datepicker>
                        <span style="left:0" class="error-wrap" *ngIf="singleOccurrenceForm.get('occurance_start_date').touched || singleOccurrenceForm.get('occurance_start_date').dirty">
                        <small *ngIf="singleOccurrenceForm.get('occurance_start_date').hasError('required')" class="error">Occurence start date is required.</small>
                        </span>
                    </div>

                    <div class="form-group col-6" *ngIf="alldayOccurrence">
                        <!-- <mat-select formControlName="occurance_start_time" class="col-10 form-control d-inline-block">
                            <mat-option (onSelectionChange)="fnChangeEndTime(i)" *ngFor="let fullDayTimeSlote of fullDayTimeSlote; let i=index" value="{{i}}">{{fullDayTimeSlote}}</mat-option>
                        </mat-select> -->
                        <mat-select placeholder="HH:MM" (selectionChange)="fnChangeStartTime($event)" *ngIf="!startdateToday" formControlName="occurance_start_time" class="col-10 form-control d-inline-block">
                            <mat-option *ngFor="let fullDayTimeSlote of fullDayTimeSlote; let i=index" value="{{i}}">{{transformTime24To12(fullDayTimeSlote)}}</mat-option>
                        </mat-select>

                        <mat-select placeholder="HH:MM" (selectionChange)="fnChangeStartTime($event)" *ngIf="startdateToday" formControlName="occurance_start_time" class="col-10 form-control d-inline-block">
                            <mat-option [ngClass]="{'hidden-slot':currentTime > fullDayTimeSlote}" *ngFor="let fullDayTimeSlote of fullDayTimeSlote; let i=index" value="{{i}}">{{transformTime24To12(fullDayTimeSlote)}}</mat-option>
                        </mat-select>


                        <span style="left:0" class="error-wrap" *ngIf="singleOccurrenceForm.get('occurance_start_time').touched || singleOccurrenceForm.get('occurance_start_time').dirty">
                            <small *ngIf="singleOccurrenceForm.get('occurance_start_time').hasError('required')" class="error">Occurence start time is required.</small>
                        </span>
                    </div>
                </div>


                <div class="row mx-0 mt-3">
                    <label class="w-100">Ends<span><i class="fa fa-asterisk"></i></span></label>

                    <div class="form-group col-6 pl-0">
                        <input placeholder="MM/DD/YYYY" (dateChange)="fnChangeEventEndDate()" (click)="occurance_end_date_picker.open()" [min]="minEndDate" [matDatepicker]="occurance_end_date_picker" type="text" formControlName="occurance_end_date" class=" col-12 form-control d-inline-block"
                            placeholder="DD/MM/YY" readonly>
                        <mat-datepicker #occurance_end_date_picker></mat-datepicker>
                        <span style="left:0" class="error-wrap" *ngIf="singleOccurrenceForm.get('occurance_end_date').touched || singleOccurrenceForm.get('occurance_end_date').dirty">
                        <small *ngIf="singleOccurrenceForm.get('occurance_end_date').hasError('required')" class="error">Occurence end date is required.</small>
                        </span>
                    </div>


                    <div class="form-group col-6" *ngIf="alldayOccurrence">
                        <!-- <mat-select formControlName="occurrenceEndTime" class="col-10 form-control d-inline-block">
                            <mat-option [disabled]="startEndTime >= fullDayTimeSlote" (onSelectionChange)="fnChangeEndTime(i)" *ngFor="let fullDayTimeSlote of fullDayTimeSlote; let i=index" value="{{i}}">{{fullDayTimeSlote}}</mat-option>
                        </mat-select> -->
                        <mat-select placeholder="HH:MM" (selectionChange)="fnChangeEndTime($event)" *ngIf="!startEndDateSame" formControlName="occurance_end_time" class="col-10 form-control d-inline-block">
                            <mat-option *ngFor="let fullDayTimeSlote of fullDayTimeSlote; let i=index" value="{{i}}">{{transformTime24To12(fullDayTimeSlote)}}</mat-option>
                        </mat-select>

                        <mat-select placeholder="HH:MM" (selectionChange)="fnChangeEndTime($event)" *ngIf="startEndDateSame" formControlName="occurance_end_time" class="col-10 form-control d-inline-block">
                            <mat-option [ngClass]="{'hidden-slot':singleOccurrenceForm.get('occurance_start_time').value > (i-1)}" *ngFor="let fullDayTimeSlote of fullDayTimeSlote; let i=index" value="{{i}}">{{transformTime24To12(fullDayTimeSlote)}}</mat-option>
                        </mat-select>

                        <span style="left:0" class="error-wrap" *ngIf="singleOccurrenceForm.get('occurance_end_time').touched || singleOccurrenceForm.get('occurance_end_time').dirty">
                            <small *ngIf="singleOccurrenceForm.get('occurance_end_time').hasError('required')" class="error">Occurence end time is required.</small>
                        </span>
                    </div>
                </div>
            </form>
        </div>



    </div>

    <div class="text-right">
        <button mat-flat-button class="save-btn ml-3" [disabled]="saveDisabled" (click)="onSubmit()">
            <span *ngIf="!saveDisabled">Save</span>
            <div *ngIf="saveDisabled" class="button-spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div> 
        </button>
    </div>
</div>