<mat-drawer-content id="paymentgateway" class="ml-0">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/event-spinner.svg" /></div>

    <div class="payment-gateways main">
        <h5 class="page-title">Payment System</h5>
        <h6>Add the details of the payment gateways you are linked with for the payment transactions.</h6>
        <div class="row mx-0">
            <div *ngFor="let gateway of gatewayList; let i=index;" class="col-md-6 pl-0">
            <form #gatewayFrom="ngForm" (submit)="onSubmitPaymentGateway(gatewayFrom,gateway.gateway_type,gateway.is_default?gateway.is_default:0,gateway.payment_code ? gateway.payment_code : '' )">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="row w-100 align-items-center no-gutters justify-content-between">
                                <div class="col-6">
                                    <div class="w-100"><img src="/assets/images/payement-gateways/{{gateway.gateway_type}}.png" class="img-fluid d-block payment-image"></div>
                                    <p class="mb-0 mt-2 gm-font-14 text-left text-muted">{{gateway?.name}} </p>
                                </div>
                                <div class="col-6 align-items-center no-gutters row">
                                    <div class="col-12">
                                        <div class="pull-right mb-3" *ngIf="gateway.payment_code">
                                            <mat-slide-toggle class="" [checked]="gateway.status == 'active'" (change)="ChangePaymentStatus(gateway.payment_code,gateway.gateway_type,$event.checked)"></mat-slide-toggle>
                                        </div>
                                    </div>
                                    <div class="col-12 no-gutters row justify-content-end">
                                        <div class="" *ngIf="gateway.payment_code">
                                            <button type="button" class="btn btn-kc-yellow px-4 gm-font-12" [ngClass]="gateway.is_default? 'btn-kc-yellow' : 'border-0 gm-btn-kc-yellow'" [disabled]="gateway.is_default" (click)="SetDefault(gateway.payment_code,gateway.gateway_type)">{{gateway.is_default?"Default":"Make As Default"}}</button>
                                        </div>
                                        <div class="ml-3 align-items-center payment-expand-icon d-flex gm-acc-icon gm-lightblue-bg justify-content-center" id="kc-acc-icon-{{gateway.gateway_type}}"><svg viewBox="0 0 448 512" width="15px" height="15px" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="#2A4797" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z" class=""></path></svg></div>
                                    </div>
                                </div>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="top-border">

                        <div *ngFor="let field of gateway.field" class="d-flex pt-3 pb-1 common-filed-center">
                            <label for="{{field.fieldname}}" class="col-sm-4 col-form-label col-form-label-sm payment-label">{{field.label}}</label>
                                <div class="form-group col-sm-8">
                                    <input id="{{field.fieldname}}" name="{{field.fieldname}}" [(ngModel)]="field.value" class="form-control">
                                </div>
                        </div>

                        <div class="d-flex flex-wrap mt-3 common-filed-center">
                            <label class="">Test Mode</label>
                            <mat-slide-toggle matTooltip="{{gateway.testMode?'Make Inactive':'Make Active'}}" name="testMode" [checked]="gateway.testMode == 1"  [(ngModel)]="gateway.testMode" class="ml-auto"></mat-slide-toggle>
                        </div>
                        <div class="">
                            <button type="submit"  mat-flat-button class="float-right save-btn my-3 btn">Save</button>
                        </div>

                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            </form>
            </div>

            <!-- <mat-accordion class="col-md-6 pl-0">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="d-flex">
                                <div>
                                    <img src="/assets/images/admin/stripe.png" class="payment-image">
                                </div>
                                <div class="payment-toggle-btn">
                                    <mat-slide-toggle class="" [checked]="stripeStatus" (change)="fnStripeStatus($event.checked)"></mat-slide-toggle>
                                </div>
                            </div>
                            <div>
                                <p class="mb-0 pt-2">Stripe Payment Form</p>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description> </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="top-border">
                        <form [formGroup]="stripe" class="with-validation">
                            <div class="d-flex pt-3 pb-1 common-filed-center">
                                <label class="payment-label">Secret Key</label>
                                <div class="ml-auto form-group">
                                    <input class="form-control" formControlName="secretKey" placeholder="" value="">
                                    <span class="w-100 error-wrap" *ngIf="stripe.get('secretKey').dirty || stripe.get('secretKey').touched">
                                        <small *ngIf="stripe.get('secretKey').hasError('required')" class="error">Secret key is required.</small>
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex py-1 common-filed-center">
                                <label class="payment-label">Publishable Key</label>
                                <div class="ml-auto form-group">
                                    <input formControlName="publishableKey" class="ml-auto form-control" placeholder="" value="">
                                    <span class="w-100 error-wrap" *ngIf="stripe.get('publishableKey').dirty || stripe.get('publishableKey').touched">
                                        <small *ngIf="stripe.get('publishableKey').hasError('required')" class="error">Publishable key is required.</small>
                                    </span>
                                </div>
                            </div>
                            <div class="">
                                <button mat-flat-button class="float-right save-btn btn my-3" (click)="fnSubmitStripe()">Save</button>
                            </div>
                        </form>
                    </div>
                </mat-expansion-panel>
            </mat-accordion> -->
        </div>


        <!-- <div class="row mx-0">
            <mat-accordion class="col-md-6 pl-0">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="d-flex">
                                <div>
                                    <img src="/assets/images/admin/payumoney.png" class="payment-image">
                                </div>
                                <div class="payment-toggle-btn">
                                    <mat-slide-toggle class="" [checked]="payumoneyStatus" (change)="fnPayumoneyStatus($event.checked)"></mat-slide-toggle>
                                </div>
                            </div>
                            <div>
                                <p class="mb-0 pt-2">PayU Money</p>
                            </div>

                        </mat-panel-title>
                        <mat-panel-description>

                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="top-border">
                        <form [formGroup]="payumoney" class="with-validation">
                            <div class="d-flex pt-3 pb-1 common-filed-center">
                                <label class="payment-label">Merchant Key</label>
                                <div class=" ml-auto form-group">
                                    <input class="form-control" formControlName="merchantKey" placeholder="" value="">
                                    <span class="w-100 error-wrap" *ngIf="payumoney.get('merchantKey').dirty || payumoney.get('merchantKey').touched">
                                        <small *ngIf="payumoney.get('merchantKey').hasError('required')" class="error">Merchant key is required.</small>
                                    </span>
                                </div>

                            </div>
                            <div class="d-flex py-1 common-filed-center">
                                <label class="payment-label">Salt Key</label>
                                <div class=" ml-auto  form-group">
                                    <input class="ml-auto form-control" formControlName="saltKey" placeholder="" value="">
                                    <span class="w-100 error-wrap" *ngIf="payumoney.get('saltKey').dirty || payumoney.get('saltKey').touched">
                                <small *ngIf="payumoney.get('saltKey').hasError('required')" class="error">Salt key is required.</small>
                            </span>
                                </div>

                            </div>
                            <div class="">
                                <button mat-button class="float-right save-btn my-3 btn" (click)="fnSubmitPayumoney()">Save</button>
                            </div>
                        </form>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion class="col-md-6 pl-0">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="d-flex">
                                <div>
                                    <img src="/assets/images/admin/banktransfer.png" class="payment-image">
                                </div>
                                <div class="payment-toggle-btn">
                                    <mat-slide-toggle class="" [checked]="bankTransferStatus" (change)="fnBankTransferStatus($event.checked)"></mat-slide-toggle>
                                </div>
                            </div>
                            <div>
                                <p class="mb-0 pt-2">Add Your Bank To Transfer</p>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="top-border">
                        <form [formGroup]="bankTransfer" class="with-validation">
                            <div class="d-flex pt-3 pb-1 common-filed-center">
                                <label class="payment-label">Bank Name</label>
                                <div class=" ml-auto form-group">
                                    <input class="form-control" formControlName="bankName" placeholder="" value="">
                                    <span class="w-100 error-wrap" *ngIf="bankTransfer.get('bankName').dirty || bankTransfer.get('bankName').touched">
                                <small *ngIf="bankTransfer.get('bankName').hasError('required')" class="error">Bank name is required.</small>
                            </span>
                                </div>
                            </div>
                            <div class="d-flex py-1 common-filed-center">
                                <label class="payment-label">Account Name</label>
                                <div class="form-group ml-auto">
                                    <input class="ml-auto form-control" formControlName="accountName" placeholder="" value="">
                                    <span class="w-100 error-wrap" *ngIf="bankTransfer.get('accountName').dirty || bankTransfer.get('accountName').touched">
                                <small *ngIf="bankTransfer.get('accountName').hasError('required')" class="error">Account name is required.</small>
                            </span>
                                </div>
                            </div>
                            <div class="d-flex py-1 common-filed-center">
                                <label class="payment-label">Account Number</label>
                                <div class="form-group ml-auto">
                                    <input class="form-control" formControlName="accountNumber" placeholder="" value="">
                                    <span class="w-100 error-wrap" *ngIf="bankTransfer.get('accountNumber').dirty || bankTransfer.get('accountNumber').touched">
                                <small *ngIf="bankTransfer.get('accountNumber').hasError('required')" class="error">Account number is required.</small>
                            </span>
                                </div>
                            </div>
                            <div class="d-flex py-1 common-filed-center">
                                <label class="payment-label">Branch Code</label>
                                <div class="form-group ml-auto">
                                    <input class="ml-auto form-control" formControlName="branchCode" placeholder="" value="">
                                </div>
                            </div>
                            <div class="d-flex py-1 common-filed-center">
                                <label class="payment-label">IFSC Code</label>
                                <div class="form-group ml-auto">
                                    <input class="ml-auto form-control" formControlName="IFSCCode" placeholder="" value="">
                                    <span class="w-100 error-wrap" *ngIf="bankTransfer.get('IFSCCode').dirty || bankTransfer.get('IFSCCode').touched">
                                    <small *ngIf="bankTransfer.get('IFSCCode').hasError('required')" class="error">IFSC code is required.</small>
                                </span>
                                </div>
                            </div>
                            <div class="d-flex py-1 common-filed-center">
                                <label class="payment-label">Bank Description</label>
                                <div class="ml-auto">
                                    <textarea class="form-control" formControlName="bankDescription" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="">
                                <button mat-button class="float-right save-btn my-3 btn" (click)="fnSubmitBankTransfer()">Save</button>
                            </div>
                        </form>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div> -->
    </div>
</mat-drawer-content>