<div id="connect-apps" class="main">
    <div class="">
        <div class="top-heading-main">
            <h4 class="page-title"> Connect apps </h4>
            <p> Connect your favourite 3rd party apps to webjio. If you would like to see more apps here, please let us know which ones you would find useful by emailing us: hi@webjio.com </p>

        </div>
        <div class="bottom-apps-wrap">
            <div class="common-apps">
                <div class="side-details">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <p>Sell tickets directly from your Facebook page </p>
                </div>
                <div class="left-btn">
                    <button mat-flat-button color="primary"> Configure</button>
                </div>

            </div>
            <div class="common-apps">
                <div class="side-details">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <p>Track your Facebook ads by adding a pixel </p>
                </div>
                <div class="left-btn">
                    <button mat-flat-button color="primary"> Configure</button>
                </div>

            </div>
            <div class="common-apps">
                <div class="side-details">
                    <div class="image-apps">
                        <img _ngcontent-aom-c4="" alt="" class="w-100" src="../../../assets/images/settings/app/google-analytics.png">
                    </div>
                    <p>Track your box office visitors using Google Analytics </p>
                </div>
                <div class="left-btn">
                    <button mat-flat-button color="primary"> Configure</button>
                </div>

            </div>
            <div class="common-apps">
                <div class="side-details">
                    <div class="image-apps">
                        <img _ngcontent-aom-c4="" alt="" class="w-100" src="../../../assets/images/settings/app/image-4.png">
                    </div>
                    <p>Add ticket buyers to your lists on Mailchimp </p>
                </div>
                <div class="left-btn">
                    <button mat-flat-button color="primary"> Configure</button>
                </div>

            </div>
        </div>
    </div>
</div>