@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "../../styling/variables";
:root {
    --text-color: rgba(14,14,14,0.78);
    --text-light:#565657;
    --heading :#0E0E0E;
    --p-color: #973C56;
    --s-color:#FF9947;
  }
.main {
    font-family: Poppins, Regular;
}
.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
    font-family: 'Arvo', serif;
    color: var(--heading);
    font-weight: normal;
}
.main-page-wrapper{
    background: rgba(255,155,0,0.06);
}
.mb-30 {
    margin-bottom: 30px;
}
.mt-30 {
    margin-top: 30px;
}
.user-data-page .form-wrapper .header-info a {
         color: #973c56 !important;
        text-decoration: underline;
    }
.user-data-page .form-wrapper .agreement-checkbox a {
         color: #973c56 !important;
        text-decoration: underline;
    }
.user-data-page .illustration-wrapper {
    float: left;
    width: 53%;
    min-height: 100vh;
    background: #deeeeb;
    text-align: center;
  }
  .user-data-page .illustration-wrapper h3 {
    font-size: 36px;
    line-height: 1.27em;
    padding-top: 45px;
  }
  .user-data-page .form-wrapper {
    float: left;
    width: 47%;
    height: 100%;
    padding: 25px 5% 20px;
    position: relative;
  }
  .user-data-page .form-wrapper .shape_1 {top:120px;left: 42%;}
  .user-data-page .form-wrapper .shape_2 {top:64px;left: 55%;}
  .user-data-page .form-wrapper .shape_3 {top:130px;left: 61%;}
  .user-data-page .form-wrapper .shape_4 {top:-2px;right: -2px;}
  .user-data-page .form-wrapper h2 {
    font-size: 30px;
    line-height: 1.17em;
    text-align: justify;
  }
  .user-data-page .form-wrapper .header-info {font-size: 18px; color: var(--heading);}
  .user-data-page .form-wrapper .header-info a {color: #973c56; text-decoration: underline;}
  .user-data-page .form-wrapper .copyright-text {font-size: 16px;}
  .user-data-form .input-group-meta {
    height: 55px;
    position: relative;
  }
  .user-data-form .input-group-meta input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 16px;
    border: solid 2px #000;
    padding: 0 52px 0 20px;
    color: var(--heading);
    background: transparent;
  }
  .user-data-form .input-group-meta input:focus {border-color: #973c56;}
  .user-data-form .input-group-meta label {
    font-size: 14px;
    padding: 0 6px;
    font-weight: normal;
    color: #B9B5B0;
    position: absolute;
    left: 20px;
    line-height: 10px;
    top:-5px;
    z-index: 1;
    background: #fff9f0;
  }
  .user-data-form .input-group-meta .placeholder_icon {
    position: absolute;
    line-height: 55px;
    top:0;
    right:0;
    bottom: 0;
    width: 50px;
    text-align: center;
    z-index: 1;
    color: rgba(0,0,0,0.45);
    font-size: 17px;
    &.password-show{
      .passVicon{
        &::before{
          display: none;
        }
      }
    }
  }
  .user-data-form .input-group-meta .valid-sign img {opacity: 0; transition: all 0.2s ease-in-out;}
  .user-data-form .input-group-meta input:valid + .valid-sign img {opacity: 1;}
  .user-data-form .input-group-meta .placeholder_icon img {
    position: relative;
    top:50%;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  .user-data-form .input-group-meta .placeholder_icon span {
    width: 100%;
    height: 100%; 
    cursor: pointer;
    display: block;
    position: relative;
  }
  .user-data-form .input-group-meta .placeholder_icon span:before {
    content: '';
    width: 2px;
    height: 26px;
    background: #000;
    position: absolute;
    top:15px;
    left: 24px;
    transform: rotate(45deg);
    z-index: 5;
    transition: all 0.2s ease-in-out;
  }
  .user-data-form .input-group-meta .placeholder_icon span.eye-slash:before {opacity: 0;}
  .user-data-form .agreement-checkbox label {
    position: relative;
    font-size: 15px;
    color: var(--heading);
    cursor: pointer;
    padding-left: 22px;
    line-height: 18px;
    transition: all 0.1s ease-in-out;
  }
  .user-data-form .agreement-checkbox label a {
    color: #973c56;
    text-decoration: underline;
  }
  .user-data-form .agreement-checkbox input[type="checkbox"] {display: none;}
  .user-data-form .agreement-checkbox label:before {
    content: '';
    width: 13px;
    height: 13px;
    line-height: 11px;
    border-radius: 2px;
    border: 2px solid #000;
    font-size: 8px;
    text-align: center;
    position: absolute;
    left:0;
    top:2px;
    transition: all 0.1s ease-in-out;
  }
  .user-data-form .agreement-checkbox input[type="checkbox"]:checked + label:before {
    content: "";
    font-family: 'font-awesome';
    background: #973c56;
    color: #fff;
    border-color:  #973c56;
  }
  .user-data-form .agreement-checkbox a {
    position: relative;
    font-size: 15px;
    color: rgba(30,30,30,0.55) !important;
  }
  .user-data-form .agreement-checkbox a:hover {text-decoration: underline; color:#973c56;}
  .user-data-form .button-solid-one {
    line-height: 57px;
    border-radius: 5px;
    color: #fff;
    background: #973c56;
    width: 100%;
    border: none;
    font-size: 18px;
  }
  .user-data-form .button-solid-one:hover {text-decoration: underline;}
  .rsv-font {
    font-family: 'Rubik', sans-serif;
}
  .mb-50 {
    margin-bottom: 50px;
    }
    .pb-50 {
        padding-bottom: 50px;
    }
    .mb-15 {
        margin-bottom: 15px;
    }
    .ES-IP_24 {
        z-index: 1;
        top: 8%;
        left: 6%;
        width: 36%;
        animation: jump15p 5s infinite linear;
      }
      .ES-IP_25 {
        z-index: 1;
        top: 9%;
        left: 36%;
        width: 38%;
        animation: jump15pRsv 5s infinite linear;
      }
      .ES-IP_26 {
        z-index: 1;
        top: 4%;
        left: 72%;
        width: 25%;
        animation: jump15p 5s infinite linear;
      }
      .main-hero-banner .shape_1 {top:10%;left: 18%; animation: jump15p 7s infinite linear;}
.main-hero-banner .shape_2 {top:2%;left: 25%; animation: jump15pRsv 7s infinite linear;}
.main-hero-banner .shape_3 {top:11%;left: 28%; animation: jump15p 7s infinite linear;}
.main-hero-banner .shape_4 {top:14%;right: 34%; z-index: -9;}
.shapes {
    position: absolute;
    z-index: -1;
}
.illustration-holder {
    position: relative;
}
[class*="ES-IP"] {position: absolute;}
img {
  max-width: 100%;
  display: block;
}
.user-data-form .agreement-checkbox a {
    position: relative;
    font-size: 15px;
    color: rgba(30,30,30,0.55);
}
.mb-40 {
    margin-bottom: 40px;
}
.mt-20 {
    margin-top: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pt-15 {
    padding-top: 15px;
}




/* Responsive CSS Document */

@media (min-width: 1200px) {
  .container {max-width: 1170px;}
}

@media (min-width: 992px) {
  .container {padding-right: 0;padding-left: 0;}
}
@media (max-width: 1199px) {
  .blog-sidebar {padding-left: 0;}
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .main-hero-banner .container,.hero-banner-two .container,
  .hero-banner-three .container {max-width: 1200px;}
  /*h1,.hero-banner-two .hero-text-wrapper h2 {font-size: 65px;}*/
  h1,.hero-banner-two .hero-text-wrapper h2 {font-size: 50px;}
  .main-hero-banner .illustration-holder,.hero-banner-two .illustration-holder {max-width: 48%;}
  .title-style-one h2.title-big {font-size: 50px;}
  .title-style-one h2 {font-size: 40px;}
  .theme-main-menu {padding-left: 40px;}
  .theme-main-menu .logo a {max-width: 200px;}
  .theme-main-menu .button-group {margin-left: calc(37vw - 400px);/*margin-left: calc(37vw - 315px);*/}
  .main-hero-banner .hero-text-wrapper .sub-text {font-size: 22px; padding: 45px 0 35px;}
  .main-hero-banner .review-wrap {bottom: -70px;}
  .main-hero-banner {padding-top: 210px;}
  .title-style-one .sub-title-two {font-size: 22px; margin-top: 28px;}
  
  .signup-banner h2 {font-size: 45px;}
  .signup-banner p {font-size: 24px;}
  .hero-banner-three {padding-top: 220px;}
  .hero-banner-three .hero-text-wrapper h2 {font-size: 55px;}
  .hero-banner-three .hero-text-wrapper .sub-text {font-size: 20px; margin-bottom: 0;}
  .text-block-four blockquote {font-size: 32px; margin-bottom: 50px;}
  .theme-inner-banner {padding: 160px 0 75px;}
  .theme-inner-banner .title-style-one h2 {font-size: 55px;}
  .title-style-two h3 {font-size: 38px;}
  .short-banner-one h2 {font-size: 50px;}
}

@media (min-width: 992px) and (max-width: 1199px) {
  .user-data-page .illustration-wrapper {width: 45%;}
  .user-data-page .form-wrapper {width: 55%;}
}
/*(min-width: 992px) and (max-width: 1199px)*/

@media (max-width: 991px) {
  .theme-main-menu {padding: 0 15px; border-bottom: 1px solid #fff8ef;background: #FFF7EE;}
  .theme-main-menu .logo a {margin-top: 10px;}
  .theme-main-menu .button-group {margin: 25px auto 0; text-align: center;}
  .theme-main-menu .button-group .login-btn {margin: 0 0 20px;}
  .text-widget-one .img-container {display: inline-block; margin-top: 90px;}
  .block-style-two .illustration-holder {display: inline-block;}
  .block-style-two .illustration-holder .screen_01 {width: 100%; top: -21px;right: -18px;}
  .ES-IP_04 {right: 0;}
  .ES-IP_05 {top:16%; right: 0;}
  .ES-IP_06 {top:23%; right: 15%;}
  .ES-IP_07 {top:26%; right: 39%;}
  .launch-process .inner-container:before {display: none;}
  .user-data-page .illustration-wrapper {display: none !important;}
  .user-data-page .form-wrapper {width: 100%;}
} 
/*(max-width: 991px)*/

@media (min-width: 768px) and (max-width: 991px) {
  h1,.contact-us-section .title,.hero-banner-two .hero-text-wrapper h2 {font-size: 65px;}
  .main-hero-banner .hero-text-wrapper,.hero-banner-three .hero-text-wrapper,
  .hero-banner-two .hero-text-wrapper {max-width: 470px;}
}
/*(min-width: 768px) and (max-width: 991px)*/

@media (min-width: 768px) { 
  .doc-links {display: block!important;}
}


@media (max-width: 767px) {
  h1,.signup-banner h2,.hero-banner-three .hero-text-wrapper h2,
  .theme-inner-banner .title-style-one h2,.contact-us-section .title,
  .terms-item-info h2,.theme-inner-banner .help-banner h2,.title-style-one h2.title-big,
  .hero-banner-two .hero-text-wrapper h2,.short-banner-one h2 {font-size: 50px;}
  .title-style-one .sub-title,.calculator-section .calculator-bg .sub-text {font-size: 18px;}
  .title-style-one .sub-title-two {font-size: 20px; margin-top: 25px;}
  .contact-us-section .sub-info {font-size: 20px; padding: 30px 0 50px;}
  .title-style-one h2,.calculator-section .calculator-bg h2 {font-size: 38px;}
  .demo-section .demo-block .text-meta h2,
  .title-style-two h3 {font-size: 35px;}
  .main-hero-banner {padding-top: 150px;}
  .hero-banner-three {padding: 150px 0 0;}
  .features-section,.hero-banner-two {padding: 150px 0 60px;}
  .main-hero-banner .illustration-holder,.hero-banner-two .illustration-holder {max-width: 500px !important; margin: 0 auto 50px;}
  .main-hero-banner .hero-text-wrapper,.hero-banner-two .hero-text-wrapper {max-width: 100%;}
  .main-hero-banner .hero-text-wrapper .sub-text {font-size: 22px; padding: 40px 0 45px;}
  .main-hero-banner .review-wrap {position: relative; margin-top: 45px; text-align: center;right: 0}
  .main-hero-banner .review-wrap ul {justify-content: center;}
}
/*(max-width: 767px)*/
/*(max-width: 575px)*/

@media (max-width: 500px) {
  .block-style-one {padding: 50px 40px 55px;}
}
