<div id="button_and_link" class="">
    <div class="main-form-setting-content">
        <div class="pb-3">Buttons and Links</div>
        <p>Promote your event page with buttons and links.These can be shared on Facebook and Twitter or published on your website.<br> You can also add a track-able "referral tag" to see how many sales get generated through it.</p>
    </div>

    <div class="main-form-setting-content">

        <div class="container p-3 border rounde main-event-link">
            <div class="row">
                <div class="col-6">Event link</div>
                <div class="col-6 text-right"><button class="btn btn-editlink">Edit Link Setting</button></div>

                <div class="col-10">
                    <p>
                        You can publish this link anywahere including your website, Facebook, Twitter, posters, brochures and any other marketing channels.
                    </p>
                </div>
                <div class="col-12 mb-2">
                    <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                </div>

                <button class="btn service-booking-link-active m-2 pr-3"><i class="fa fa-external-link mr-2"></i>Test link</button>
                <button class="btn service-booking-link m-2 pr-3"><i class="fa fa-facebook mr-2"></i>Share It</button>
                <button class="btn service-booking-link m-2 pr-3"><i class="fa fa-twitter mr-2"></i>Tweet It</button>
            </div>
        </div>
    </div>


    <div class="main-form-setting-content">

        <div class="container p-3 border rounded main-html-buttons">
            <div class="row">
                <div class="col-6 pb-2 ">HTML Buttons</div>
                <div class="col-12">
                    <p>You can use these anywhere where HTML code is permitted. such as your own web site and blog.</p>
                </div>

                <div class="col-12">
                    <div class="row html-btn-title">
                        <div class="col-4 py-3 pl-5">
                            Sample
                        </div>
                        <div class="col-8 py-3 ">
                            Code to Copy
                        </div>
                    </div>

                    <div class="row pt-2">
                        <div class="col-4 pt-2 pb-1 pl-5">
                            <a class="btn-color-dummy">Buy Ticket for Shubnam Ansari</a>
                        </div>
                        <div class="col-8 pt-0 pb-1 pr-5">
                            <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 pl-5">
                            <button mat-flat-button class="btn-color-one">BUY TICKETS</button>
                        </div>
                        <div class="col-8 pt-0 pr-5">
                            <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 pl-5">
                            <button mat-flat-button class="btn-color-two">BUY TICKETS</button>
                        </div>
                        <div class="col-8 pt-0 pr-5">
                            <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 pl-5">
                            <button mat-flat-button class="btn-color-three">BUY TICKETS</button>
                        </div>
                        <div class="col-8 pt-0 pr-5">
                            <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 pl-5">
                            <button mat-flat-button class="btn-color-four">BUY TICKETS</button>
                        </div>
                        <div class="col-8 pt-0 pr-5">
                            <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 pl-5">
                            <button mat-flat-button class="btn-color-five">BUY TICKETS</button>
                        </div>
                        <div class="col-8 pt-0 pr-5">
                            <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 pl-5">
                            <button mat-flat-button class="btn-color-six">BUY TICKETS</button>
                        </div>
                        <div class="col-8 pt-0 pr-5">
                            <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 pl-5">
                            <button mat-flat-button class="btn-color-seven">BUY TICKETS</button>
                        </div>
                        <div class="col-8 pt-0 pr-5">
                            <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 pl-5">
                            <button mat-flat-button class="btn-color-eight">BUY TICKETS</button>
                        </div>
                        <div class="col-8 pt-0 pr-5">
                            <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 pl-5">
                            <button mat-flat-button class="btn-color-nine">BUY TICKETS</button>
                        </div>
                        <div class="col-8 pt-0 pr-5">
                            <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 pl-5">
                            <button mat-flat-button class="btn-color-ten">BUY TICKETS</button>
                        </div>
                        <div class="col-8 pt-0 pr-5">
                            <input class="w-100 p-2" placeholder="https://buytickets.at/sparklingevent">
                        </div>
                    </div>
                    <hr>

                </div>


            </div>
        </div>
    </div>
</div>