<div class="main-page-wrapper">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/event-spinner.svg" /></div>
    <!-- ===================================================
        Loading Transition
    ==================================================== -->
    <section>
    <!-- 	<div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <img src="1.svg" alt="">
                </div>	
            </div>
        </div> -->
    </section>


    <!-- 
    =============================================
        Sign In
    ============================================== 
    -->
    <div class="user-data-page clearfix d-lg-flex">
        <div class="illustration-wrapper d-flex align-items-center justify-content-center flex-column">
            <div class="illustration-holder">
                <img src="../../assets/images/login/ils_15.svg" alt="" class="illustration">
                <img src="../../assets/images/login/ils_15.1.svg" alt="" class="ES-IP_24">
                <img src="../../assets/images/login/ils_15.2.svg" alt="" class="ES-IP_25">
                <img src="../../assets/images/login/ils_15.3.svg" alt="" class="ES-IP_26">
            </div>
            <h3>Selling over 100 tickets? <br>try eventsmatic</h3>
        </div> <!-- /.illustration-wrapper -->

        <div class="form-wrapper">
            <img src="../../assets/images/login/shape_02.svg" alt="" class="shapes shape_2">
            <img src="../../assets/images/login/shape_01.svg" alt="" class="shapes shape_1">
            <img src="../../assets/images/login/shape_03.svg" alt="" class="shapes shape_3">
            <img src="../../assets/images/login/shape_131.svg" alt="" class="shapes shape_4">
            <div class="logo"><a href="https://www.eventsmatic.com/"><img src="../../assets/images/login/logo.svg" alt=""></a></div>
            <form [formGroup]="forgotForm" action="#" class="user-data-form mt-30 with-validation">
                <h2>Forget Your Password?</h2>
                <p class="rsv-font header-info pt-15 pb-30"> Already have an account? <a routerLink="/login">Log in</a></p>
                  
                <div class="row">
                    <div class="col-12">
                        <div class="input-group-meta mt-30">
                            <label>Email</label>
                            <input type="email" formControlName="email" placeholder="Email address" />
                            <span class="placeholder_icon valid-sign"><img src="../../assets/images/login/check.svg" alt=""></span>
                            <span class="error-wrap" *ngIf="forgotForm.get('email').dirty || forgotForm.get('email').touched"><small *ngIf="forgotForm.get('email').hasError('required')" class="error text-left ml-4">Email is required.</small><small *ngIf="forgotForm.get('email').hasError('pattern')" class="error text-left ml-4">Invalid email address.</small></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="button-solid-one rsv-font mt-30 mb-30" [disabled]="saveDisabled" (click)="forgotPwdSubmit()"><span *ngIf="!saveDisabled">Send Email</span>
                            <div *ngIf="saveDisabled" class="button-spinner">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div></button>
                    </div>
                    <div class="col-12">
                        <p class="text-center rsv-font copyright-text">© Copyright 2021 Eventsmatic. A Product of Weberr Technologies Inc.</p>
                    </div>
                </div>
            </form>
        </div> <!-- /.form-wrapper -->
    </div> <!-- /.user-data-page -->
    
    


    

</div> 