button {
    background-color: #973c56;
    color: #fff;
}

.card-header {
    background-color: #92C7FF !important;
    font-size: 16px;
}

.card-body {
    background-color: #F6FAFF;
}

.card-footer {
    background-color: #92C7FF !important;
}

.card-footer .poweredby {
    opacity: 0.3;
}

.card-footer .poweredby p {
    font-size: 11px;
}

.card-footer .poweredby .web-title {
    font-size: 22px;
}

.html-code-div {
    height: 150px;
    overflow: auto;
}

.color-code {
    background-color: #E2E2E2;
}

.bg-color-code {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.text-color-code {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.header-color-code {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.header-text-color-code {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn-color-code {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn-text-color-code {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.preview-example {
    background-color: #F6FAFF;
}

.preview {
    border-radius: 10px;
    .ticket-header {
        background-color: #92C7FF;
        border-radius: 10px 10px 0px 0px;
    }
}

.ticket-footer {
    background-color: #92C7FF;
    border-radius: 0px 0px 10px 10px;
}

.ticket-table-title {
    // background-color: #DCECFF;
}

.save-btn,
.next-btn,
.edit-btn {
    background-color: #973c56;
    color: #ffffff;
}

.poweredby {
    opacity: 0.3;
}

.poweredby p {
    font-size: 11px;
}

.poweredby .web-title {
    font-size: 22px;
}

.main-booking-widget {
    background-color: #F6F6F645;
}

.Customise-widgets-title {
    color: #808080;
    font-size: 12px;
}