@import url('https://fonts.googleapis.com/css?family=Poppins');
.main {
    font-family: Poppins, Regular;
}


.bottom {
    margin-top: 10vh;
    .cancel {
        background-color: #C0C0C0;
        color: #000000;
    }
    .save {
        background-color: #973c56;
        color: #ffffff;
    }
}

.notification-icon {
    transform: matrix(0.87, -0.48, 0.48, 0.87, 0, 0);
    color: #FF6600;
    margin-top: --50px !important;
}

.ckeditor {
    max-width: 1185px;
    height: 330px;
}
::ng-deep .main-work-area{
    .privacy-ckeditor{
        height: auto;
        .angular-editor-textarea{
            min-height: 150px !important;
        }
    }
}
.main-privacy-text {
    display: flex;
    padding: 16px 10px;
    border-radius: 6px;
}

 ::ng-deep .previewContent {
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

::ng-deep h3 {
    font-weight: bold !important;
}
.hover-link{
    color: #FF6600 !important;
    &:hover{
        color: #FF6600 !important;
    }
}