<div class="modal-dialog modal-notify modal-info export-order modal-lg" role="document">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/event-spinner.svg" /></div>

    <div *ngIf="!is_show">Loading...</div>


    <div class="modal-content p-3" *ngIf="is_show">

        <div class="modal-header modal-bcolor-primary px-0 pt-0">
            <p class="heading lead  work-content"> Order Details</p>
            <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
             <span aria-hidden="true" class="white-text">&times;</span>
           </button>
        </div>

        <div class="book-order">
            <div class="row mt-4 mb-4" style="background-color: #ffe2ad;border-radius: 5px;" *ngIf="orderDetail.payment.payment_status=='unpaid'">
                <p class="col-12 mt-3">
                    <span class="material-icons">add_alert</span> payment is <b>Pending</b>. Customer selected Kotak as their payment method.
                </p>
                <div class="col-12 px-4 pb-3">
                    <button mat-raised-button class="comm-btn mr-2" (click)="fnPayementpaid()">Payement Paid</button>
                </div>
            </div>

            <div class="row mx-0" *ngIf="orderDetail.order_status != 'C'">
                <div class="col-md-12">
                    <button mat-raised-button class="comm-btn mr-2" (click)="resendOrder()">Resend Ticket</button>
                    <button *ngIf="subPermission == 'admin' || (subPermission != 'admin' && subPermission.indexOf('AUEC') > -1)" mat-raised-button class="comg-btn mr-2" (click)="editOrder()">Edit Order</button>
                    <button *ngIf="subPermission == 'admin' || (subPermission != 'admin' && subPermission.indexOf('AUEC') > -1)" mat-raised-button class="comg-btn mr-2" (click)="cancelOrder()">Cancel Order</button>
                </div>
                <!-- <div class="print-order col-md-4 px-0">
                    <a class=""><span class=""><mat-icon aria-hidden="false" aria-label="" (click)="fnDownloadInvoice(orderDetail.unique_code)" class="link mr-2">print</mat-icon></span>Print order confirmation</a>
                </div> -->
            </div>
            <div class="row mx-0" *ngIf="orderDetail.order_status == 'C'">
                <div class="col-md-12 canceled-order-label">
                    <p><span class="material-icons">cancel</span>This Order was canceled on: Jul 27, 2020 1:16 pm</p>
                </div>
            </div>
        </div>

        <div class="order-details">
            <div class="order-head row">
                <p>Order details</p>
                <a (click)="fnDownloadInvoice(orderDetail.unique_code)" class="dwnld-invoice">Download invoice</a>
            </div>
            <div class="order-desc">
                <div class="row">
                    <label class="col-md-4">Date / time of order:</label>
                    <p class="col-md-8">{{orderDate}}</p>
                </div>
                <div class="row">
                    <label class="col-md-4">Payment method:</label>
                    <p class="col-md-8 text-capitalize">{{orderDetail.payment ? orderDetail.payment.payment_method : '-'}}</p>
                </div>
                <div class="row">
                    <label class="col-md-4">Transaction ID:</label>
                    <p class="col-md-8">{{orderDetail.payment ? orderDetail.payment.transaction_id : '-'}}</p>
                </div>
                <div class="row">
                    <label class="col-md-4">Event Name:</label>
                    <p class="col-md-8"><span *ngIf="orderDetail.events.event_occurrence_type == 'N'">{{eventDate}}:</span> {{orderDetail.events ? orderDetail.events.event_title : ''}}</p>
                </div>
            </div>
            <div class="order-table">
                <div class="service-listing">
                    <div class="main-table-content main-cust-table-content">
                        <div class="">
                            <div class="heads main-heading-content drageble" fxLayout="row">
                                <div class="th-data" fxFlex="50">Item</div>
                                <div class="th-data" fxFlex="30">Price</div>
                                <div class="th-data" fxFlex="20">Fee</div>
                                <div class="th-data" fxFlex="30">Qty</div>
                                <div class="th-data" fxFlex="20">Subtotal</div>
                            </div>
                            <!-- <div class="content" class="drageble-list">
                                <div class="drageble-box" fxLayout="row">
                                    <div class="tb-data text-center" fxFlex="100"><span *ngIf="orderDetail.events.event_occurrence_type == 'N'">{{eventDate}}:</span> {{orderDetail.events ? orderDetail.events.event_title : ''}}</div>
                                </div>
                            </div> -->
                            <div class="content" class="drageble-list" *ngFor="let eventTicket of purchasedTicket">
                                <div class="drageble-box fw-600" fxLayout="row">
                                    <div class="tb-data order-item fw-100" fxFlex="50">{{eventTicket.item}}</div>
                                    <div class="tb-data" fxFlex="30">{{eventTicket.price| currency:currencyCode:'symbol'}}</div>
                                    <div class="tb-data" fxFlex="20" *ngIf="eventTicket.fee">{{ eventTicket.fee| currency:currencyCode:'symbol'}}</div>
                                    <div class="tb-data" fxFlex="30">{{eventTicket.qty}}</div>
                                    <div class="tb-data align-end" fxFlex="30">{{eventTicket.subtotal| currency:currencyCode:'symbol'}}</div>
                                </div>
                            </div>
                            <div class="content" class="drageble-list" *ngIf="orderDetail.transaction_fee && orderDetail.transaction_fee > 0">
                                <div class="drageble-box" fxLayout="row">
                                    <div class="tb-data fw-600" fxFlex="50">Transaction fee</div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data" fxFlex="20"></div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data fw-600" fxFlex="20">{{orderDetail.transaction_fee| currency:currencyCode:'symbol'}}</div>
                                </div>
                            </div>
                            <!-- <div class="content" class="drageble-list" *ngIf="orderDetail.voucher_amt && orderDetail.voucher_amt != '0'">
                                <div class="drageble-box" fxLayout="row">
                                    <div class="tb-data fw-600" fxFlex="50">Voucher Code</div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data" fxFlex="20"></div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data fw-600" fxFlex="20" > {{orderDetail.voucher_code}}</div>
                                </div>
                            </div> -->
                            <div class="content" class="drageble-list" *ngIf="orderDetail.voucher_amt && orderDetail.voucher_amt != '0'">
                                <div class="drageble-box" fxLayout="row">
                                    <div class="tb-data fw-600" fxFlex="80">{{orderDetail.voucher_code}} (Voucher Code)</div>
                                    <!-- <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data" fxFlex="20"></div>
                                    <div class="tb-data" fxFlex="30"></div> -->
                                    <div class="tb-data fw-600" fxFlex="20" *ngIf="orderDetail.voucher_amt != '0'">-{{ (orderDetail.voucher_amt| currency:currencyCode:'symbol')}}</div>
                                </div>
                            </div>
                            <!-- <div class="content" class="drageble-list" *ngIf="orderDetail.coupon_amt && orderDetail.coupon_amt != '0'">
                                <div class="drageble-box" fxLayout="row">
                                    <div class="tb-data fw-600" fxFlex="50">Discount Code</div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data" fxFlex="20"></div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data fw-600" fxFlex="20" > {{orderDetail.coupon_code}}</div>
                                </div>
                            </div> -->
                            <div class="content" class="drageble-list" *ngIf="orderDetail.coupon_amt && orderDetail.coupon_amt != '0'">
                                <div class="drageble-box" fxLayout="row">
                                    <div class="tb-data fw-600" fxFlex="80">{{orderDetail.coupon_code}}</div>
                                    <!-- <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data" fxFlex="20"></div>
                                    <div class="tb-data" fxFlex="30"></div> -->
                                    <div class="tb-data fw-600" fxFlex="20" *ngIf="orderDetail.coupon_amt != '0'">-{{ ( orderDetail.coupon_amt| currency:currencyCode:'symbol')}}</div>
                                </div>
                            </div>
                            <div *ngIf="taxArray.length>0 && orderDetail.events.event_setting.custom_sales_tax == 'N'">
                                <div class="content" class="drageble-list" *ngFor="let tax of taxArray; let i=index;">
                                    <div class="drageble-box" fxLayout="row">
                                        <div class="tb-data fw-600" fxFlex="50">{{tax.name}}</div>
                                        <div class="tb-data" fxFlex="30"></div>
                                        <div class="tb-data" fxFlex="20"></div>
                                        <div class="tb-data" fxFlex="30"></div>
                                        <div class="tb-data fw-600" fxFlex="20">{{tax.finalAmount | currency:currencyCode:'symbol'}}({{tax.value}}%)</div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="taxArray.length>0 && orderDetail.events.event_setting.custom_sales_tax == 'Y'">
                                <div class="content" class="drageble-list" *ngFor="let tax of taxArray; let i=index;">
                                    <div class="drageble-box" fxLayout="row">
                                        <div class="tb-data fw-600" fxFlex="50">{{tax.label}}</div>
                                        <div class="tb-data" fxFlex="30"></div>
                                        <div class="tb-data" fxFlex="20"></div>
                                        <div class="tb-data" fxFlex="30"></div>
                                        <div class="tb-data fw-600" fxFlex="20">{{tax.finalAmount | currency:currencyCode:'symbol'}}({{tax.amount}}%)</div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="content" class="drageble-list" *ngIf="orderDetail.tax && orderDetail.tax > 0">
                                <div class="drageble-box" fxLayout="row">
                                    <div class="tb-data fw-600" fxFlex="50">Sales Tax</div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data" fxFlex="20"></div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data fw-600" fxFlex="20">{{orderDetail.tax| currency:currencyCode:'symbol'}}</div>
                                </div>
                            </div> -->
                            <div class="content" *ngIf="orderDetail.donation != null" class="drageble-list">
                                <div class="drageble-box" fxLayout="row">
                                    <div class="tb-data fw-600" fxFlex="50">Donation</div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data" fxFlex="20"></div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data fw-600" fxFlex="20">{{orderDetail.donation| currency:currencyCode:'symbol'}}</div>
                                </div>
                            </div>

                            <div class="content" class="drageble-list">
                                <div class="drageble-box" fxLayout="row">
                                    <div class="tb-data fw-600" fxFlex="50">Grand Total</div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data" fxFlex="20"></div>
                                    <div class="tb-data" fxFlex="30"></div>
                                    <div class="tb-data fw-600" fxFlex="20">{{orderDetail.grand_total| currency:currencyCode:'symbol'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buyer-details">
            <div class="buyer-head row">
                <p>Buyer details</p>

            </div>
            <div class="buyer-desc">
                <div class="row">
                    <label class="col-md-4">Name:</label>
                    <p class="col-md-8">{{orderDetail.customer ? orderDetail.customer.name : '-'}}</p>
                </div>
                <div class="row">
                    <label class="col-md-4">E-mail:</label>
                    <a class="col-md-8">{{orderDetail.customer ? orderDetail.customer.email : '-'}}</a>
                </div>
                <div class="row">
                    <label class="col-md-4">Transaction ID:</label>
                    <p class="col-md-8"> {{orderDetail.payment ? orderDetail.payment.transaction_id : '-'}} </p>
                </div>
                <div class="row">
                    <label class="col-md-4">Address:</label>
                    <p *ngIf="customerAddress && customerAddress.style == 'USA'" class="col-md-8">{{customerAddress ? customerAddress.address1 : ''}}, {{customerAddress ? customerAddress.city : ''}} {{customerAddress ? customerAddress.state : ''}}-{{customerAddress ? customerAddress.zipcode : ''}}</p>
                    <p *ngIf="customerAddress && customerAddress.style == 'UK'" class="col-md-8">{{customerAddress ? customerAddress.address1 : ''}}, {{customerAddress ? customerAddress.address2 : ''}} {{customerAddress ? customerAddress.address3 : ''}}-{{customerAddress ? customerAddress.zipcode : ''}}</p>
                    <p *ngIf="customerAddress && customerAddress.style == 'CA'" class="col-md-8">{{customerAddress ? customerAddress.address1 : ''}}, {{customerAddress ? customerAddress.city : ''}} {{customerAddress ? customerAddress.province : ''}}-{{customerAddress ? customerAddress.postalcode : ''}}</p>
                </div>
            </div>
        </div>

        <div class="ticket-details" *ngFor="let val of order_item_data;let i=index">
            <div class="ticket-head row">
                <p>Ticket details</p>
                <a target="javascript:;" class="dwnld-invoice" (click)="fnDownloadTicket(val.unique_code)">Download ticket as PDF</a>
            </div>
            <div class="ticket-desc">
                <div class="row">
                    <label class="col-md-4">Ticket code:</label>
                    <p class="col-md-8">
                  {{val ? val.unique_code : '-'}}
                    </p>
                </div>
                <div class="row">
                    <label class="col-md-4">Name:</label>
                    <p class="col-md-8">{{attendeeData[i][0].value}}</p>
                </div>
                <div class="row">
                    <label class="col-md-4">Status:</label>
                    <p [ngStyle]="{'color': val.order_status=='P' ? '#2BB800' : val.order_status=='C' ? '#FF0000' :  val.order_status=='CO' ? '#2BB800' : '#FF0000'}" class="col-md-8">{{ val.order_status== 'P' ? 'Pending' : val.order_status== 'CO' ? 'complete' : val.order_status== 'C' ? 'Cancel' : 'Void'}}</p>
                </div>
                <div class="row">
                    <label class="col-md-4">Ticket Checked In:</label>
                    <p class="col-md-8">{{ val.ticket_checked_in== 'Y' ? 'Yes' : 'No'}}</p>
                </div>
                <div class="row">
                    <label class="col-md-4">Ticket type:</label>
                    <p class="col-md-8">
                        {{val.ticket ? val.ticket.ticket_name : '-'}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>